body {
	background-color: #eeeeee;
}

#root {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;

	transition: all 0.5s ease-in-out;
	background-color: blue;
	padding: 10px;
	border-radius: 5px;

	margin: 10px;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, monospace;
	font-weight: 600;
}

a:hover {
	transform: scale(1.1);
}

a:active {
	transform: scale(0.9);
}

#back-link {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: transparent;
	color: black;
	transform: scale(2);
}

#back-link:hover {
	transform: scale(2.5);
}

#back-link:active {
	transform: scale(1.5);
}

input {
	background-color: #cfcfcf;
	border: none;
	color: black;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
}

button {
	background-color: #1c1c1c;
	color: white;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}

button:hover {
	transform: scale(1.2);
}

button:active {
	transform: scale(0.8);
}

p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, monospace;
	font-weight: 600;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, monospace;
	font-weight: 600;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	width: 30em;
	padding: 1em;
}
